name: Build node solution on push
permissions:
  contents: read

on:
   push:
      branches: [ "main" ]
   pull_request:
      branches: [ "main" ]
   workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # checkout repo
      - name: Checkout repo
        uses: actions/checkout@v4

      # setup node (v24)
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      
      # install npm dependencies
      - name: Install dependencies
        run: npm install

      # build node solution
      - name: Build node solution
        run: node --run build

      # TO DO: add tests here
